#one{
   // display:block;
 text-align: center;
 font-size: 50px;
 font-style: italic;
 font-family: Consolas;
    height:100px;
    color:Gold;
    width:600px;
    margin-left: auto;
    margin-right: auto;

}